@use "./mixins";

.header{
    height: 10vh;
    @include mixins.flex;
    align-items: center;
}

.footer-nav{
    background-color: var(--color-dark);
    @include mixins.flex;
    align-items: center;
    height: 10vh;

}