.header{    
    grid-column: 2 / 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;    
    margin-bottom: 10rem;
}

.content{    
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    display: flex;
}

.card{
    margin-bottom: 14rem;
    grid-column: 2 / 6;
    display: grid;
    grid-template-rows: repeat(2,35rem);
    grid-template-columns: repeat(auto-fit, minmax(min-content, 35rem));
    column-gap: 3rem;
    row-gap: 5.5rem;
}

.footer{
    background-color:var(--color-dark);
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}