@mixin flex{
    display: flex;
    justify-content: space-around;
}

@mixin margin-auto{
    margin: 0 auto;
}

@mixin font-paragraph{
    font-size:1.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    text-decoration: none;
}