@mixin flex{
    display: flex;
    justify-content: space-around;
}

@mixin margin-auto{
    margin: 0 auto;
}

@mixin height_width_img{
    width: 56px;
    height: 56px;
}

@mixin font-paragraph{
    font-size:1.8rem;
    line-height: 2.8rem;
    text-decoration: none;
}