$themedark-color: #13183F;
$color-linksCard:#F74780;
$color-btn:#FFFFFF;
$color-grey: #888888;
$color-blue: rgb(72,81,255);
$color-orange: #ff6f48;
$color-grey-fort: #83869a;
$color-pink-light: #ffa7c3;
$color-pink-fort: #f02AA6;
$new-color:#F0F1FF;