@use "../abstracts/mixins";

.main{
    max-width: 1140px;
    margin: 0 auto;
}

.main__article{

    .article__section-center{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        .section-center--text{
            border: 2px solid red;
            
        }

        .section-center--image{
            /* transform: translateX(45rem) translateY(-20rem); */
            border: 2px solid red;
            z-index: -1;
            /* width: 600px;
            height: 600px; */

            .card--image{
                width: 100%;
                border: 2px solid red;
                /* transform: translateX(45.5rem) translateY(-25rem); */
                /* transform: translateX(45%) translateY(-25%); */
                
            }
        
        }
    }

    .article__section-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        border: 2px solid red;
        row-gap: 1rem;
        
        [class^="section-card--"]{
            border: 2px solid red;
            
        }
    }
}