@use "../abstracts/variables";
@use "../abstracts/mixins";

.btn {
  width: 16.5rem;
  height: 5.6rem;
  color: variables.$color-btn;
  border-radius: 5rem;
  cursor: pointer;
  border: none;

  &-nav {
    @include mixins.font-paragraph;
    background-color: variables.$themedark-color;
    box-shadow: 0 0.9rem 0.8rem variables.$color-grey;
    transition: all 0.5s;
    &:hover {
      background-color: lighten(variables.$themedark-color, 8%);
    }

    &:active {
      background-color: lighten(variables.$themedark-color, 30%);
    }
  }
}
