@use "../abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        min-height: calc(100vh - 12rem);
        font-family: "Plus Jakarta Sans", sans-serif;
        box-sizing: border-box;
        overflow-x: hidden;
        background: linear-gradient(180deg, variables.$color-btn 0%, variables.$new-color 100%);
    }
}