* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.father-article{
     display: flex;
     justify-content: center;
}

.session-card {
     display: grid;
     grid-template-columns: 350px 350px 350px;
     grid-template-rows: 350px 350px;
     column-gap: 30px;
     row-gap: 55px;
}

.card {
     border: 2px solid red;
}

.nav-footer {
     background: #13183F;
     display: flex;
     justify-content: space-between;

}

